.top-btn-container::-webkit-scrollbar, .x-axis-container::-webkit-scrollbar {
    background: transparent;
    height: 10px;
}
.top-btn-container::-webkit-scrollbar-thumb, .x-axis-container::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
}